<div>
  <br>
      <br><br>
      <select [(ngModel)] = "pronouns.pronoun">
        <option *ngFor="let pronoun of pronouns" [value]="pronoun">{{pronoun}}</option>
      </select>
      <select [(ngModel)] = "verbs.verb">
        <option *ngFor="let verb of verbs" [value]="verb">{{verb}}</option>
      </select>
    <select  [(ngModel)] = "adjectives.adjective">
      <option *ngFor="let adjective of adjectives" [value]="adjective">{{adjective}}</option>
    </select>
    
    <select [(ngModel)] = "conjunctions.conjunction">
      <option *ngFor="let conjunction of conjunctions" [value]="conjunction">{{conjunction}}</option>
    </select>
    <select  [(ngModel)] = "adverbs.adverb">
      <option *ngFor="let adverb of adverbs" [value]="adverb">{{adverb}}</option>
    </select >
    <select  [(ngModel)] = "prepositions.preposition">
      <option *ngFor="let preposition of prepositions" [value]="preposition">{{preposition}}</option>
    </select>
    <select [(ngModel)] = "nouns.noun">
      <option *ngFor="let noun of nouns" [value]="noun">{{noun}}</option>
    </select>
    <select [(ngModel)] = "exclamations.exclamation">
      <option *ngFor="let exclamation of exclamations" [value]="exclamation">{{exclamation}}</option>
    </select>
    <select [(ngModel)] = "determiners.determiner">
      <option *ngFor="let determiner of determiners" [value]="determiner">{{determiner}}</option>
    </select>
</div>
<br><br>

<div>{{pronouns.pronoun}} {{verbs.verb}} 
  {{adjectives.adjective}} {{conjunctions.conjunction}} 
   {{adverbs.adverb}}   {{prepositions.preposition}} 
  {{nouns.noun}} {{exclamations.exclamation}}
   {{determiners.determiner}}
  

</div>




